<html>
<head>
	<title>Lingua: Chat </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg" href="/images/favicon.svg"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/index.css">
</head>
<body>

<ul>
  <li id="logo"><a><img src="images/logo.svg" class="img-responsive"></a></li>
  <li><a href="/"><img src="images/learn.svg" class="img-responsive"></a></li>
  <li><a href="/chatroom"><img src="images/chat_fill.svg" class="img-responsive"></a></li>
  <li><a href="/help"><img src="images/help.svg" class="img-responsive"></a></li>
  <li id="profile"><a href="/profile"><img src="images/profile.svg" class="img-responsive"></a></li>
</ul>
  Chat Page
</body>
</html>
