<html>
<head>
	<title>Lingua: Chatroom </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/index.css">
</head>
<body>
<ul>
  <li id="logo"><a><img src="images/logo.svg" style="filter: grayscale(100%)"></a></li>
  <li><a href="/"><img src="images/learn.svg"></a></li>
  <li><a><img src="images/chat.svg"></a></li>
  <li><a  href="/help"><img src="images/help.svg"></a></li>
  <li id="profile"><a href="/profile"><img src="images/profile.svg"></a></li>
</ul>

<h2>Proficiency Specific Chatrooms</h2>
<br>
<h2>General Chatrooms</h2>
<br>

</body>
</html>
