<html>
<head>
	<title>Lingua: Help</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg" href="/images/favicon.svg"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/index.css">
</head>
<body>

<ul>
  <li id="logo"><a><img src="images/logo.svg" class="img-responsive"></a></li>
  <li><a href="/"><img src="images/learn.svg" class="img-responsive"></a></li>
  <li><a href="/chatroom"><img src="images/chat.svg" class="img-responsive"></a></li>
  <li><a><img src="images/help_fill.svg" class="img-responsive"></a></li>
  <li id="profile"><a href="/profile"><img src="images/profile.svg" class="img-responsive"></a></li>
</ul>

<div class="content">
  <h3 class="toggle">FAQ's</h3>
  <div style="height:80%;width:330px;background-color: white; overflow:auto;">
    {{#each questionPage}}
    <div class="container_questions" id="{{id}}">
      <p class="centered">{{question}} <br><br> {{answer}}</p>
    </div>
    {{/each}}
  </div>
</div>


</body>
</html>
