<html>
<head>
	<title>Lingua: Learning</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/index.css">
	
</head>
<body>

<ul>
  <li><a>lingua</a></li>
  <li><a>Learning</a></li>
  <li><a href="/chatroom">Chatroom</a></li>
  <li><a href="/help">Help</a></li>
  <li><a href="/profile">Profile</a></li>
</ul>

<h2>Progress: beginner</h2>
<progress id="file" value="32" max="100"> 32% </progress>
<label for="file">16/50</label>
<br>
<h2>Quizzes (new/in-progress)</h2>
<div style="height:120px;width:120px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
<button type="button">Click Me!</button>
  <button type="button">Click Me!</button>
  <button type="button">Click Me!</button>
  <button type="button">Click Me!</button>
  <button type="button">Click Me!</button>
  <button type="button">Click Me!</button>
  <button type="button">Click Me!</button>
  <button type="button">Click Me!</button>
</div>
<br>
<h2>Completed Quizzes</h2>
<div style="height:120px;width:120px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
<button type="button">Click Me!</button>
  <button type="button">Click Me!</button>
  <button type="button">Click Me!</button>
  <button type="button">Click Me!</button>
  <button type="button">Click Me!</button>
  <button type="button">Click Me!</button>
  <button type="button">Click Me!</button>
  <button type="button">Click Me!</button>
</div>
<br>
</body>
</html>

