<html>
<head>
	<title>Lingua: Lesson</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg" href="/images/favicon.svg"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="/js/lesson.js"></script>
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/lesson.css">
</head>
<body>

<ul>
  <li id="logo"><a><img src="/images/logo.svg" class="img-responsive"></a></li>
  <li><a href="/index" onclick= "clickOn(event, 'index')"><img src="/images/learn_fill.svg" class="img-responsive"></a></li>
  <li><a href="/chatroom" onclick= "clickOn(event, 'chatroom')"><img src="/images/chat.svg" class="img-responsive"></a></li>
  <li><a href="/help" onclick= "clickOn(event, 'help')"><img src="/images/help.svg" class="img-responsive"></a></li>
  <li id="profile" onclick= "clickOn(event, 'profile')"><a href="/profile"><img src="/images/profile.svg" class="img-responsive"></a></li>
</ul>

<div id="learningPage">
  <div style="background-color: #333333; overflow:auto; margin-top: 20px; margin-left: 5%; margin-right: 5%;padding: 3% 5%;">
  <h4 id="title" style="color: white; text-align: left; margin: 3px 0">{{lessonname}}</h4><br></div>
  <div class="main" style="background-color: #f1f1f1; overflow:auto;">
    <!--This is a sample lesson design for "Lesson 1: Introduce Yourself." The other lessons/quizzes would be wizard of oz-->
    <div id="samplelesson" style="text-align:left; margin: 20px; margin-top: 5px">
      <p style="font-size: 14px; line-height: 15px">You will learn how to greet people and introduce yourself in Spanish! Familiarize yourself with the following:<br></p>
      <h3 style="color: rgb(16, 45, 99); font-size: 15px; margin:5px 0">Common Phrases</h3><br>
      <ul id="lesson_text">
        <p><a>◘ Hola! Me llamo Alex.</a> <br>(Hello! My name is Alex)</p>
        <p><a>◘ Como te llamas?</a> <br>(What is your name?)</p>
        <p><a>◘ Mi color favorito es el azul.</a> <br>(My favorite color is blue)</p>
        <p><a>◘ Tengo 15 años.</a> <br>(I am 15 years old)</p>
        <p><a>◘ Yo estoy feliz.</a> <br>(I am happy.)</p>
      </ul>
      <p style="font-size: 13px; line-height: 15px; color: rgb(18, 75, 48); margin:0"> Pro-tip: Visit "Chat" in the menu-bar to practice with other learners before taking the quiz! <br>
      <div style="margin: 0 10px; text-align:center;">
        <img src="/images/hola.jpg" style = "height:23%; margin: 5px 0; margin-bottom: 1px"alt="">
        <p style="font-size: 10px; margin: 0">Han Vectors by Vecteezy</p><br>
        <a onclick="startQuiz(event)" class="floated"><button type="button" class="btn btn-success">Start Quiz</button></a>
      </div>
    </div>
  </div>
</div>

<div id="quiz" style="margin-top: 10; display: none; background-color: #333333; overflow:auto; padding: 3% 5%;">
  <h4 id="quizName" style="color: white; text-align: left; margin: 15px 5">{{lessonname}}</h4><br>
  <div style="margin:5px"><p style="color: white;" id="ptpossible">Points Possible: 1</p>
  <p style="color: white;" id="ptearned">Points Earned: 0</p></div>
  <button id="quitButton" onclick= "clickOn(event, 'index')">Quit</button>
  <button id="checkButton">Check</button>
  <!-- Invalid message -->
  <br><br><br><br><br><br><br><br><br>
  <span id="invalid_choice"></span>
</div> 

<!--finish screen-->
<div style="display: none; text-align: center" id="quiz-results">
    <p id="quiz-results-message"></p>
    <img src="/images/congrats.svg" style="height: 30%" alt="">
    <p id="quiz-results-score"></p>
    <a href="/lesson/{{lessonname}}"><button id="quiz-retry-button">Retry</button></a>
    <a href="/index"><button id="quiz-return-button" onclick="updateComplete()">Done</button></a>
</div>

<!--pop up screen to quit-->
<div id="popupquiz" style="left:6%">
  <div id="innerquiz">
    <h4 style='color:#911906; font-size: 15px; margin: 25px 20px'>Are you sure you want to quit? <br> You will loose all your progress and points earned!</h4><br>
    <a href="/index" class="floated" id="quitMe"><button type="button" class="btn btn-success" style="margin-left: 10px;" id="changeProf1">Confirm</button></a>
    <a onclick="clickOff(event)"class="floated"><button type="button" class="btn btn-light" id="changeProf2">Cancel</button></a>  
  </div>
</div>

<script>
  function clickOn(e, pageName){
    var toggle = document.getElementsByClassName('toggle');
    for (var i = 0; i < toggle.length; i ++) toggle[i].style.display = 'none';
    document.getElementById("popupquiz").style.display = 'block';

    //Choose page to leave to
    let pageString = "/" + pageName;
    document.getElementById("quitMe").setAttribute("href", pageString);
    e.preventDefault();
  }
  function clickOff(e){
    var toggle = document.getElementsByClassName('toggle');
    for (var i = 0; i < toggle.length; i ++) toggle[i].style.display = 'block';
    document.getElementById("popupquiz").style.display = 'none';
    e.preventDefault();
  }

  var quizNameTemp = document.getElementById("quizName").innerHTML;

  function updateComplete() {
    // Create localStorage lessons object to keep track
    let lessonNumber = quizNameTemp.charAt(7);
    if(localStorage.getItem('lessons_completed' + lessonNumber) === "false") {
      localStorage.setItem('lessons_completed' + lessonNumber, "true");
    } else if (localStorage.getItem('lessons_completed' + lessonNumber) === null) {
      localStorage.setItem('lessons_completed' + lessonNumber, "true");
    }
  }
</script>

</body>
</html>