<html>
<head>
	<title>Lingua: Lesson</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg" href="/images/favicon.svg"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="/js/lesson.js"></script>
  <link rel="stylesheet" href="css/index.css">
</head>
<body>

<ul>
  <li id="logo"><a><img src="images/logo.svg" class="img-responsive"></a></li>
  <li><a href="/index"><img src="images/learn_fill.svg" class="img-responsive"></a></li>
  <li><a href="/chatroom"><img src="images/chat.svg" class="img-responsive"></a></li>
  <li><a href="/help"><img src="images/help.svg" class="img-responsive"></a></li>
  <li id="profile"><a href="/profile"><img src="images/profile.svg" class="img-responsive"></a></li>
</ul>


<div id="quiz">
  <h1 id="quizName">Quiz Name Goes here</h1>
  <p style="color: white;">Points Possible: 1</p>
  <button id="prevButton">Previous</button>
  <button id="checkButton">Check</button>
  
  
  <div id="quiz-results">
    
    <p id="quiz-results-message"></p>
    <p id="quiz-results-score"></p>
    <button id="quiz-retry-button">Retry</button>
    
  </div>
</div> 

<style>


* {
  margin: 0px;
  padding: 0px;
  font: 16px 'Source Sans Pro', sans-serif;
  border: none;
  box-sizing: border-box;
}

#quizName {
  margin-top: 50px;
  width: 100%;
}

html {
  display: table;
}


#quiz {
  margin-top: 80px;
  margin: -44px 50px 0px;
  position: relative;
  width: calc(100% - 100px);
}

#quiz h1 {
  color: #FAFAFA;
  font-size: 36px;
  text-align: left;
  line-height: 44px;
}

#quiz button {
  float: left;
  margin: 8px 0px 0px 8px;
  padding: 4px 8px;
  background: #9ACFCC;
  color: #00403C;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

#quiz button:hover {
  background: #36a39c;
  color: #FFF;
}

#quiz button:disabled {
  opacity: 0.5;
  background: #9ACFCC;
  color: #00403C;
  cursor: default;
}

#question {
  
  padding: 20px;
  background: #FAFAFA;
  text-align: center;
}

#question h2 {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 20px;
}

#question input[type=radio] {
  display: none;
}

#question label {
  display: inline-block;
  margin: 4px;
  padding: 8px;
  background: #FAE3BB;
  color: #4C3000;
  width: calc(50% - 8px);
  min-width: 50px;
  cursor: pointer;
}

#question label:hover {
  background: #EBBB67;
}

#question input[type=radio]:checked + label {
  background: #CB8306;
  color: #FAFAFA;
}

#quiz-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 44px;
  left: 0px;
  background: #FAFAFA;
  width: 100%;
  height: calc(100% - 44px);
}

#quiz-results-message {
  display: block;
  color: #00403C;
  font-size: 20px;
  font-weight: bold;
}

#quiz-results-score {
  display: block;
  color: #31706c;
  font-size: 20px;
}

#quiz-results-score b {
  color: #00403C;
  font-weight: 600;
  font-size: 20px;
}

#quiz-retry-button {

  float: left;
  margin: 8px 0px 0px 8px;
  padding: 4px 8px;
  background: #9ACFCC;
  color: #00403C;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  
}
</style>

</body>
</html>