<html>
<head>
	<title>Lingua: Login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg" href="/images/favicon.svg"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/login.css">
</head>
<body>

  <img src="images/logo.svg" class="logo">
  <!--<form action="/action_page.php">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username"><br><br>
    <label for="pass">Password:</label>
    <input type="text" id="pass" name="pass"><br><br>
    <input type="submit" value="Login">
  </form>-->
    
</body>
</html>
