<html>
<head>
	<title>Lingua: Login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg" href="/images/favicon.svg"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/login.css">
  {{> facebook}}
	<script src="/js/facebook.js"></script>
</head>
<body>

  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v9.0&appId=2419149194896926&autoLogAppEvents=1" nonce="ZO2dYvL6"></script>

  <div class = "content">
  <img src="images/logo.svg" class="logo">

  <div class="fb-login-button" scope="public_profile,email" data-width="" data-size="large" data-button-type="login_with" data-layout="rounded" data-auto-logout-link="false" data-use-continue-as="false" onlogin="checkLoginState();"></div>
  <a href="/index"><button type="button" class="btn btn-dark" id="auth-free" onClick="authfreeLogin()">Auth-free Login</button></a>
  </div>
    
</body>
</html>
