<html>
<head>
	<title>Lingua: Login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg" href="/images/favicon.svg"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/login.css">
  {{> facebook}}
	<script src="/js/facebook.js"></script>
</head>
<body>
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v9.0&appId=2419149194896926&autoLogAppEvents=1" nonce="ZO2dYvL6"></script>
  <div class = "content">
    <img src="images/logo.svg" class="logo">
    <div>
      <div class="fb-login-button" scope="public_profile,email" data-width="" data-size="large" data-button-type="login_with" data-layout="rounded" data-auto-logout-link="false" data-use-continue-as="false" onlogin="checkLoginState();"></div>
      <a href="/proficiency"><button type="button" class="btn btn-dark" id="auth-free" onClick="authfreeLogin()">Login as Guest</button></a>
    </div>
  </div>

<script>
// Add progress in local storage
if(localStorage.getItem('progress') === null) {
  localStorage.setItem('progress', 0);
}

if(localStorage.getItem('progress_earned') === null) {
  localStorage.setItem('progress_earned', 0);
}

// Add proficiency in local storage
if(localStorage.getItem('proficiency') === null) {
  localStorage.setItem('proficiency', 'beginner');
}

// Set points to 0 for each lesson in local storage
let begArray = ["Lesson 1: Introduce Yourself","Lesson 2: Start a Conversation","Lesson 3: At a Restaurant","Lesson 4: At an Airport","Lesson 5: At Public Transportation","Lesson 6: At a Supermarket","Lesson 7: At a School","Lesson 8: At a Party"];
let intArray = ["Lesson 1: Travel Abroad","Lesson 2: My Family Members","Lesson 3: Watch A Movie","Lesson 4: Sports","Lesson 5: Plan A Date","Lesson 6: Visit the City","Lesson 7: Shopping and Clothes","Lesson 8: Popular Music"];
let advArray = ["Lesson 1: Interview for a Job","Lesson 2: Buy A New House","Lesson 3: Bargaining for Prices","Lesson 4: Cultural Diversity","Lesson 5: Spanish Literature","Lesson 6: Out in Nature","Lesson 7: My future Plans"];
for(let i = 0; i < begArray.length; i++) {
  localStorage.setItem(begArray[i], 0);
  localStorage.setItem(intArray[i], 0);

  if(i < 7 ) {
    localStorage.setItem(advArray[i], 0);
  }
}

</script>
</body>
</html>
