<html>
<head>
	<title>Lingua: Profile</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg" href="/images/favicon.svg"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/index.css">
</head>
<body>

<ul>
  <li id="logo"><a><img src="images/logo.svg" class="img-responsive"></a></li>
  <li><a href="/help"><img src="images/help.svg" class="img-responsive"></a></li>
</ul>

<div class="content">
  <br><br>
  <div class="toggle">
    <div style="height:80%;width:330px;background-color: white; overflow:auto;">
    <form action="/action_page.php">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username"><br><br>
      <label for="pass">Password:</label>
      <input type="text" id="pass" name="pass"><br><br>
      <input type="submit" value="Login">
    </form>
    </div>

  </div>
    

</div>

</body>
</html>
