<html>
<head>
	<title>Lingua: Profile</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/index.css">
</head>
<body>

<ul>
  <li id="logo"><a><img src="images/logo.svg" class="img-responsive"></a></li>
  <li><a href="/"><img src="images/learn.svg" class="img-responsive"></a></li>
  <li><a href="/chatroom"><img src="images/chat.svg" class="img-responsive"></a></li>
  <li><a href="/help"><img src="images/help.svg" class="img-responsive"></a></li>
  <li id="profile"><a><img src="images/profile_fill.svg" class="img-responsive"></a></li>
</ul>

<div class="content">
  <br><br>
  <!-- Insert FB image here -->
  <img src="https://media.giphy.com/media/JU3wJzTin54XiXGgVR/giphy.gif" style="height: 30%; width: 50%; display:block; margin-left: auto; margin-right: auto;">
  <div class="toggle">
  <h3 style="width: 35%; display:block; margin-left: auto; margin-right: auto;">Your Username</h3> <!-- Insert FB name here?-->
  <div style="height:30%;width:330px;background-color: white; overflow:auto;">
  

  <!-- Display Proficiency level -->
  <p>Proficiency Level: beginner<p>
  <button type="button">Change Proficiency</button>
  
  <br><br><br><br>
  <button type="button" style="width: 35%; display:block; margin-left: auto; margin-right: auto;">Logout</button>
  <!-- Change Proficiency level + pop-up -->
  <!-- Logout button + pop-up -->

</div>

</body>
</html>
