<html>
<head>
	<title>Lingua: Profile</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg" href="/images/favicon.svg"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="/js/profile.js"></script>
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="css/profile.css">
</head>
<body>

<ul>
  <li id="logo"><a><img src="images/logo.svg" class="img-responsive"></a></li>
  <li><a href="/index"><img src="images/learn.svg" class="img-responsive"></a></li>
  <li><a href="/chatroom"><img src="images/chat.svg" class="img-responsive"></a></li>
  <li><a href="/help"><img src="images/help.svg" class="img-responsive"></a></li>
  <li id="profile"><a><img src="images/profile_fill.svg" class="img-responsive"></a></li>
</ul>

<div>

  <!-- Insert FB image here -->
  <img src="https://media.giphy.com/media/JU3wJzTin54XiXGgVR/giphy.gif" id= "profilepic">  
  <h2 id="name">Spiderman</h3> <!-- Insert FB name here?--->

  <div style="height:35%;width:300px;background-color: whitesmoke; overflow:auto;">

  <!-- Display Proficiency level -->
  <div class="options">
    <h4>Proficiency Level: <a id="level">beginner </a></h4><br><br>

  <div class="replace">
    <div class="dropdown">
      <button onclick="myFunction()" class="dropbtn">Change Proficiency ▾</button>
      <div id="myDropdown" class="dropdown-content">
        <a href="#" onclick="changeLevel(event, 'beginner')">Beginner</a>
        <a href="#" onclick="changeLevel(event, 'intermediate')">Intermediate</a>
        <a href="#" onclick="changeLevel(event, 'advanced')">Advanced</a>
      </div>
    </div><br><br><br>

    <a href="#" class="btn btn-info btn-lg" id="logout" onclick="clickOn(event)"><span class="glyphicon glyphicon-log-out"></span> Log out</a>
  </div>
  </div>
    <a href="/" class="floated"><button type="button" class="btn btn-success" style="display: none; margin-left: 10px;" id="button-logout">Confirm</button></a>
    <a href="/profile" class="floated"><button type="button" class="btn btn-light" style="display: none;" id="button-logout2">Cancel</button></a>
    <a href="/profile" class="floated"><button type="button" class="btn btn-success" style="display: none; margin-left: 10px;" id="changeProf1">Confirm</button></a>
    <a href="/profile" class="floated"><button type="button" class="btn btn-light" style="display: none;" id="changeProf2">Cancel</button></a>

  <!-- Change Proficiency level + pop-up -->
  <!-- Logout button + pop-up -->
</div>

</body>
</html>
