<html>
<head>
	<title>Lingua: Profile</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/index.css">
</head>
<body>
<ul>
  <li><a>lingua</a></li>
  <li><a href="/">Learning</a></li>
  <li><a href="/chatroom">Chatroom</a></li>
  <li><a href="/help">Help</a></li>
  <li><a>Profile</a></li>
</ul>
</body>
</html>
