.main{
  margin: 5%;
  margin-top: 0;
  height: 65%;
  padding: 3% 3%;
  margin-bottom: 0;
}
.main2{
  margin: 0% 5%;
  height: 10%;
}

/* style adapted from w3school's tutorial on chat textbox */

.darker {
  border: 2px solid;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  border-color: #ccc;
  background-color: #ddd;
  margin: 5px 0;
  height: fit-content;
}

.container {
  border: 2px solid #dedede;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  margin: 5px 0;
}

/*.container::after, .darker::after{
  content: "";
  clear: both;
  display: table;
}*/

.container img, .darker img{
  float: left;
  max-width: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

.container img.right, .darker img.right{
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  font-size: 12px;
  float: right;
  color: #aaa;
  margin-top: 3%;
}

.time-left {
  font-size: 12px;
  float: left;
  color: #999;
  margin-top: 3%;
}

p{
  color: black;
  font-size: 12px;
  margin: 0;
  line-height: 12px;
  text-align: left;
}

#text {
  color: rgb(18, 63, 131);
  font-weight: bold;
}