.main{
  margin: 5%;
  margin-top: 0;
  height: 65%;
  padding: 3% 3%;
  margin-bottom: 0;
}
.main2{
  margin: 0% 5%;
  height: 10%;
}

/* style adapted from w3school's tutorial on chat textbox */

.container, .darker{
  border: 2px solid #dedede;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  margin: 5px 0;
}

.darker {
  border-color: #ccc;
  background-color: #ddd;
  height: 60px;
}

.container img, .darker img{
  float: left;
  max-width: 40px;
  margin-right: 10px;
  border-radius: 50%;
}

.container img.right, .darker img.right{
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  font-size: 12px;
  float: right;
  color: #aaa;
  margin-top: 3%;
}

.time-left {
  font-size: 12px;
  float: left;
  color: #999;
  margin-top: 3%;
}

p{
  color: black;
  font-size: 12px;
  margin: 0;
  line-height: 12px;
  text-align: left;
}

#text {
  color: rgb(18, 63, 131);
  font-weight: bold;
}

#submitmsg {
  background-color: #008CBA; /* Green */
  border: gray;
  color: white;
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
}