.content{
  margin-left: 6%;
}

h3 { 
  font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif; 
  font-size: 18px; font-style: normal; font-variant: normal; font-weight: 550; line-height: 15.4px; } 

p { font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif; 
    font-size: 15px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 5px 5px;
  padding-top: 7px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#logo{
  padding: 10px 6px;
}

#logo a:hover{
  background-color: #333;
}

.container {
  padding: 0%;
  position: relative;
  text-align: center;
  color: white;
  margin: 2%;
  width: 50%;
}

.centered {
  position: absolute;
  top: 15;
  left: 25px;
  color:#111;
  width:300;
  text-align: left;
}

br {
  line-height: 30%;
}

.progress{
  margin-bottom: 5px;
  margin-top: 10px;
}

img{
  margin-left: 2px;
  margin-right: 2px;
}

.centered2 {
  position: absolute;
  top: 11;
  left: 25px;
  color:#111;
  width:300;
  text-align: left;
}

#desc {
  font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif; 
  font-size: 12px; font-style: normal; font-variant: normal; font-weight: 10; line-height: 10px;
  margin-bottom: 0;
  margin-top: 2px;
}

#popupquiz{
  position: fixed; /* or absolute */
  top: 28%;
  background-color: #111;
  display: none;
}