

* {
  margin: 0px;
  padding: 0px;
  font: 16px 'Source Sans Pro', sans-serif;
  border: none;
  box-sizing: border-box;
}

#quizName {
  margin-top: 50px;
  width: 100%;
}

#quiz {
  margin: 30px 25px;
  margin-top: 100px;
  position: relative;
  width: calc(100% - 50px);
}

#quiz h1 {
  color: #FAFAFA;
  font-size: 36px;
  text-align: left;
  line-height: 44px;
}

#checkButton {
  float: left;
  margin: 8px 0px 0px 8px;
  padding: 8px 15px;
  background: #028f88;
  color: #f1f1f1;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

#checkButton:hover {
  background: #36a39c;
  color: #FFF;
}

#quitButton{
  background: #93a3a2;
  color: #0f0f0f;
  float: left;
  margin: 8px 0px 0px 80px;
  padding: 8px 15px;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

#question {
  padding: 10px;
  padding-bottom: 20px;
  background: #FAFAFA;
  text-align: center;
}

#question h2 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 18px;
}

#question input[type=radio] {
  display: none;
}

#question label {
  display: inline-block;
  margin: 4px;
  padding: 8px;
  background: #FAE3BB;
  color: #4C3000;
  width: calc(50% - 8px);
  min-width: 50px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
}

#question label:hover {
  background: #EBBB67;
}

#question input[type=radio]:checked + label {
  background: #CB8306;
  color: #FAFAFA;
}

#quiz-results {
  position: absolute;
  top: 70;
  background: #FAFAFA;
  width: 80%;
  margin: 20% 10%;
  height: calc(60% - 44px);
}

#quiz-results-message {
  margin: 10%;
  display: block;
  color: #00403C;
  font-size: 20px;
  font-weight: bold;
}

#quiz-results-score {
  margin: 10%;
  display: block;
  color: #00403C;
  font-size: 20px;
  font-weight: bold;
}

#quiz-results-score b {
  color: #00403C;
  font-weight: 600;
  font-size: 20px;
}

#quiz-retry-button {
  background: #df5f4e;
  color: #ffffff;
  float: left;
  margin: 8px 0px 0px 80px;
  padding: 8px 15px;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

#quiz-return-button {
  float: left;
  margin: 8px 0px 0px 8px;
  padding: 8px 15px;
  background: #028f88;
  color: #f1f1f1;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.main{
  margin: 5%;
  margin-top: 0;
  height: 75%;
  padding: 2% 3%;
  margin-bottom: 0;
}

#lesson_text, #lesson_text p{
  color: black;
  background: none;
  font-size: 13px;
  line-height: 15px;
}

#lesson_text a{
  color: black;
  background: none;
  font-size: 13px;
  line-height: 15px;
  font-weight: bold;
}