body{
  background-color: 1A2A37;
}

.logo{
  height: 100px;
}

.content{
  position: fixed; /* or absolute */
  top: 30%;
  left: 12%;
}

h3{
  font-size: 20px;
  margin-top: 10px;
}

.fb-login-button{
  margin-left: 7%;
}

#auth-free{
  margin-top: 5px;
  margin-left: 22%;
}